.cy-text-field {
  width: 100%;
  height: 100px;
  display: flex;
  color: #333;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #eee;
  label {
    font-size: 28px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-right: 32px;
  }
  .cy-input {
    border: none;
    margin: 0;
  }
  &.edit {
    justify-content: space-between;
  }
  .arrow {
    background: url('../../assets/images/ic_arrow_right.png') no-repeat top
      center;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
}
