.cy-input {
  width: 100%;
  border-bottom: 1px solid #eee;
  height: 100px;
  line-height: 100px;
  position: relative;
  margin-bottom: 10px;

  > input {
    color: #333;
    border: none;
    outline: none;
    width: 100%;
    font-size: 28px;
  }
  > .clear {
    background: url(../images/login/qyg_shop_icon_delete.png) no-repeat top
      center;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 34px;
  }
  &.error {
    border-bottom: 1px solid red;
  }
  &.cy-password {
    > .clear {
      right: 64px;
    }
  }
  > .icon-password {
    background: url(../images/login/qyg_shop_icon_display.png) no-repeat top
      center;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 34px;
    &.hide {
      background: url(../images/login/qyg_shop_icon_hide.png) no-repeat top
        center;
      background-size: 32px 32px;
    }
  }
}
